body {
    font-family: 'Nunito Sans', sans-serif;
}
.container {
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
header {
    border-bottom: 1px solid #DEDEDE;
}
.header {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 26px;
    padding-bottom: 26px;
}
.header-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 68.5%;
}
.header-logo {
    display: block;
    background-image: url(../images/logo.svg);
    width: 176px;
    height: 56px;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-nav {
    list-style-type: none;
    display: flex;
    padding-left: 0;
    gap: 46px;
    margin-top: 20px;
}
.header-nav a {
    font-weight: 600;
    font-size: 20px;
    color: #443737;
    text-decoration: none;
}
.header-nav a:hover {
    color: #FFC725;
}
.header-nav a::after {
    content: '';
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    background: transparent;
    display: block;
}
.header-nav a.active::after {
    background: #FFC725;
}
.button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
    gap: 10px;
    cursor: pointer;
}
.button-item {
    position: relative;
}
.button-count {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 13px;
    background: #F37335;
    border-radius: 100%;
    position: absolute;
    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 1.3;
    bottom: 3px;
    right: -5px;
}
.button-text {
    color: #443737;
    font-weight: 700;
    font-size: 15px;
}
.bg {
    text-align: center;
    color: #FFFFFF;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center center;
    padding: 141px 0;
    margin-bottom: 141px;
    margin-top: -3px;
}
.breadcrumbs {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 0px auto 0px auto;
}
.breadcrumbs a {
    color: #DEDEDE;
    font-size: 15px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
.breadcrumbs a:hover {
    color: #FFC725;
}
.breadcrumbs a:hover::before {
    color: #DEDEDE;
}
.breadcrumbs a::before {
    content: '/';
    position: relative;
    left: -4px;
    pointer-events: none;
}
.breadcrumbs li:first-child a::before {
    display: none;
}
.title {
    font-weight: 700;
    font-size: 79px;
    margin: 18px auto 18px auto;
}
.description {
    color: #FAF9F9;
    font-size: 15px;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
    max-width: 320px;
    margin: 0px auto 0px auto;
}
.banner-box {
    color: #FFFFFF;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: 0 center;
    padding: 101px 100px 120px;
    margin-bottom: 75px;
}
.banner-title {
    font-weight: 900;
    font-size: 60px;
    margin-bottom: 10px;
    margin-top: 0px;
}
.banner-sale {
    display: block;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    background-color: #F37335;
    font-weight: 600;
    font-size: 14px;
    padding: 5px 18px;
    border-radius: 14px;
    max-width: 58px;
    line-height: 18px;
    margin-bottom: 6px;
    text-align: center;
}
.banner-text {
    font-family: 'Open Sans', sans-serif;
    color: #FAF9F9;
    font-size: 15px;
    max-width: 310px;
    line-height: 1.6;
    margin-bottom: 35px;
    margin-top: 14px;
}
.banner-link {
    text-decoration: none;
    background-color: #FBB731;
    padding: 19px 25px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: #1E2F40;
    border-radius: 5px;
    border: 1px solid #FBB731;
    transition: 0.3s;
}
.banner-link:hover {
    background-color: transparent;
    color: #FBB731;
}
.menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 33px;
}
.menu-title {
    color: #1B2A49;
    font-weight: 700;
    font-size: 44px;
    text-transform: uppercase;
    margin: 0;
}
.menu-select {
    border: 1px solid #DEDEDE;
    padding: 13px 30px;
    border-radius: 22px;
    color: #443737;
    font-size: 15px;
    appearance: none;
    flex-basis: 279px;
    background-image: url(../images/arrow.svg);
    background-size: 12.79px 7.75px;
    background-repeat: no-repeat;
    background-position: 89% center;
}
.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 20px;
    text-align: center;
    margin-bottom: 102px;
}
.menu-grid-cover {
    width: 100%;
    height: 343px;
    position: relative;
    overflow: hidden;
}
.menu-grid-cover img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    width: 100%;
    height: 430px;
    margin-top: 0;
}
.menu-grid-title {
    font-weight: 600;
    font-size: 30px;
    color: #1B2A49;
    text-align: center;
    margin-top: 23px;
    margin-bottom: 8px;
}
.menu-grid-price {
    color: #979797;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 22px;
}
.menu-grid-btn {
    background-color: #FBB731;
    border-radius: 5px;
    min-width: 152px;
    background-image: url(../images/cart-menu.svg);
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: 21% center;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    margin-bottom: 24px;
}
.menu-grid-btn:hover {
    background-color: #F37335;
}
.menu-grid-text {
    color: #1E2F40;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    padding-left: 21px;
}
.footer {
    background: #1E2F40;
    color: #FFFFFF;
    padding-top: 117px;
    padding-bottom: 106px;
}
.footer-box {
    display: flex;
    justify-content: space-between;
}
.footer-logo {
    width: 63px;
    height: 56px;
}
.footer-item h2 {
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 19px;
    margin-top: 0;
}
.footer-list li {
    color: #FAF9F9;
    margin-bottom: 9px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
}
.footer-list a {
    color: #DEDEDE;
    text-decoration: none;
    font-weight: 400;
}
.footer-list a:hover {
    color: #FBB731;
}
.footer-item span {
    color: #DEDEDE;
    display: block;
    font-weight: 400;
    margin-bottom: 2px;
}
.footer-list-tel {
    margin-top: 0;    
}
.footer-list-tel li {
    margin-bottom: 13px;
}
.footer-list-tel a {
    font-weight: 800;
    font-size: 21px;
    color: #FBB731;
}
.footer-list-tel a:hover {
    color: #DEDEDE;
}
.footer-list {
    padding-left: 0;
    list-style-type: none;
}
.footer-main {
    display: none;
}
.button-up {
    background-color: #FBB731;
    color: #1E2F40;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 8px 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 5px;
    transition: 1s;
}
.button-up.hidden {
    opacity: 0;
}
.button-up.visible {
    opacity: 1;
}
.button-up:hover {
    background-color: #F37335;
}

/* Style INDEX */

.main {
    background: linear-gradient(180deg, #0C4C7B -100%, #1E2F40 100%);
}
.wrapper {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.content {
    color: #FAF9F9;
    flex: 0 0 580px;
    padding-top: 170px;
    padding-bottom: 170px;
}
.content-title {
    font-size: 120px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 140px;
    margin-bottom: 28px;
    margin-top: 0;
}
.content-title span {
    color: #FBB731;
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
    display: block;
    margin-bottom: 10px;
    margin-left: 7px;
}
.content-text {
    color: #DEDEDE;    
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 26.6px;
    margin-bottom: 48px;
    margin-left: 7px;
}
.content-link,
.promo a {
    color: #1E2F40;
    background-color: #FBB731;
    border-radius: 5px;
    text-decoration: none;
    padding: 20px 45px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    margin-left: 7px;
}
.visual {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.visual-bg {
    width: 432px;
    height: 100%;
    background: linear-gradient(2.42deg, #F37335 -19.6%, #FBB731 100.79%, #FDC830 100.79%);

}
.main img {
    width: 829px;
    position: absolute;
    right: -168px;
}
.promo {
    padding-top: 186px;
    padding-bottom: 46px;
    color: #FFFFFF;
}
.promo-left,
.promo-right {
    flex: 0 0 49%;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.promo-left {
    background-image: url(../images/promo-left.png);
    padding: 116px 50px;
}
.promo-right {
    background-image: url(../images/promo-right.png);
    padding: 102px 50px;
}
.sale {
    font-size: 14px;
    font-weight: 900;
    background: #F37335;
    padding: 5px 19px;
    border-radius: 14px;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 3px;
    margin-top: 0;
}
.cost {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 8px;
    margin-top: 0;
}
.promo-description {
    font-family: 'Open Sans', sans-serif;
    color: #FAF9F9;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 0;
}
.promo-left .promo-description {
    max-width: 392px;
}
.promo-right .promo-description {
    max-width: 299px;
    margin-bottom: 20px;
}
.content-link:hover {
    background-color: #F37335;
} 
.promo a:hover {
    background-color: #F37335;
}
.free {
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 0;
}

/* Modal */

.burger{
    width: 34px;
    height: 22px;
    background-image: url(../images/burger.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.modal {
    background-color: #FFF8DC;
    max-width: 500px;
    text-align: center;
    position: absolute;
    top: -400px;
    left: 0;
    right: 0;
    margin: 20px auto 0;
    padding: 40px 30px;
    box-sizing: border-box;
    transition: .5s;
}
.modal .header-nav {
    flex-direction: column;
    align-items: center;
    gap: 23px;
    margin: 0;
}
.burger-close {
    width: 22px;
    height: 22px;
    background-image: url(../images/close.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;    
    cursor: pointer;
}



/* Responsive */

@media (min-width: 1001px) {
    .footer-list + .footer-list-tel {
        display: none;
    }
    .promo {
        padding-top: 93px;
        padding-bottom: 28px
    }
}
@media (min-width: 766px) {
    .header-burder {
        display: none;
    }
}
@media (max-width: 1100px) {
    /* Style INDEX */
    .content {
        padding-top: 38px;
        padding-left: 21px;
        padding-bottom: 122px;
        flex: 0 0 623px;
    }
    .content-title span {
        font-size: 24px;
        margin-bottom: 23px;
        margin-left: 0px;
    }
    .content-title {
        font-size: 101px;
        line-height: 101px;
        padding-left: 7px;
        margin-bottom: 29px;
    }
    .content-text {
        font-size: 14px;
        line-height: 22.6px;
        margin-bottom: 31px;
        max-width: 475px;
    }
    .content-link, .promo a {
        padding: 17px 40px;
        font-size: 13px;
    }
    .main img {
        width: 592px;
        right: 84px;
        top: 15px;
    }
    .visual-bg {
        width: 135px;
        height: 100%;
        padding-right: 133px;
        margin-right: 235px;
    }
    
}
@media (max-width: 1000px) {
    .container {
        max-width: 738px;
    }
    .header-logo {
        width: 150px;
        height: 48px;
        background-size: contain;
    }
    .header-nav {
        gap: 22px;
    }
    .header-item {
        flex-basis: 79.5%;
    }
    .bg {
        margin-bottom: 72px;
    }
    .banner-box {
        padding: 101px 40px 120px;
        margin-bottom: 55px;
        background-position: -84px center;
    }
    .menu-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px 15px;
        margin-bottom: 35px;
    }
    .menu-other {
        overflow: hidden;
        height: 669px;
    }
    .menu-other .menu-grid {
        display: flex;
        width: auto;
        overflow-x: scroll;
        overflow-y: hidden;
        margin-top: 21px;
        gap: 17px 11px;
        padding-bottom: 95px;
    }
    .menu-other .menu-grid-item {
        flex: 0 0 275px;
    }
    .footer {
        padding-top: 62px;
        padding-bottom: 59px;
    }
    .footer-tel {
        display: none;
    }
    .footer-list + .footer-list-tel {
        display: block;
    }
    
    /* Style INDEX */
    .promo {
        padding: 76px 15px 27px;
    }
    .promo-left {
        height: 300px;
        padding: 47px 31px;
    }
    .promo-description {
        font-size: 14px;
    }
    .promo-right {
        height: 300px;
        padding: 65px 29px;
    }
    .promo-right .promo-description {
        margin-bottom: 12px;
    }
}
@media (max-width: 930px) {
    /* Style INDEX */
    .content {
        flex: 0 0 534px;
    }
    .content-title span {
        font-size: 22px;
        margin-bottom: 4px;
    }
    .content-title {
        font-size: 86px;
        margin-bottom: 21px;
    }
    .main img {
        width: 490px;
        right: 101px;
        top: 121px;
    }
    .visual-bg {
        width: 66px;
    }
}
@media (max-width: 840px) {
    /* Style INDEX */
    .main img {
        width: 450px;
        right: 151px;
    }
    .promo {
        padding: 53px 15px 14px;
    }
}
@media (max-width: 765px) {
    nav {
        display: none;
    }
    .header {
        gap: 21px;
    }
    /* Style INDEX */
    .content {
        flex: 0 0 477px;
    }
    .content-title {
        font-size: 82px;
    }
    .content-title span {
        font-size: 20px;
    }
    .content-text {
        margin-right: 124px;
    }
    .promo-left {
        height: 283px;
    }
    .promo-right {
        height: 283px;
    }
    .promo-description {
        font-size: 13.5px;
    }
    .cost {
        font-size: 58px;
    }
    .promo {
        padding: 55px 15px 9px;
    }
}
@media (max-width: 700px) {
    .menu-grid {
        gap: 17px 13px;
    }
    .footer-tel {
        display: block;
    }
    .footer-list + .footer-list-tel {
        display: none;
    }
    .footer-item-main {
        display: none;
    }
    .footer-main {
        display: block;
        text-align: center;
    }
    /* Style INDEX */
    .content-title span {
        font-size: 17px;
    }
    .content-title {
        font-size: 78px;
    }
    .main img {
        width: 427px;
        right: 174px;
        top: 144px;
    }
}
@media (max-width: 660px){
    .promo-left, .promo-right {
        height: 246px;
        width: 418px;
        padding: 33px 31px;
        margin: 0 auto 15px;
    }
    .free {
        font-size: 41px;
    }
    .content-link, .promo a {
        font-size: 12px;
    }
    .promo {
        padding: 44px 15px 6px;
        display: block;
    }
    .sale {
        font-size: 14px;
    }
    .cost {
        font-size: 53px;
        margin-top: 5px;
    }
    .promo-description {
        font-size: 15px;
        margin-top: 0px;
    }
}
@media (max-width: 590px) {
    /* Style INDEX */
    .main img {
        width: 380px;
        right: 271px;
        top: 257px;
    }
    
}
@media (max-width: 565px) {
    .title {
        font-size: 38px;
    }
    .description {
        font-size: 12px;
    }
    .breadcrumbs a {
        font-size: 14px;
    }
    .bg {
        padding: 55px 0;
    }
    .banner-box {
        background-position: 17% center;
        padding: 35px 24px 54px;
    }
    .menu-title {
        font-size: 27px;
    }
    .menu-select {
        max-width: 198px;
        height: 41px;
        font-size: 13px;
        padding-left: 20px;
    }
    .menu-grid-title {
        font-size: 15px;
    }
    /*
    .menu-grid {
        margin-top: 26px;
        margin-bottom: 37px;
    }*/
    .menu-grid-price {
        font-size: 16px;
    }
    .menu-grid-btn {
        min-width: 129px;
    }
    .menu-other {
        height: 490px;
    }
    .menu-other .menu-grid-item {
        flex: 0 0 232px;
    }
    .footer-main {
        text-align: left;
    }
    .menu-grid-cover, .menu-grid-cover img {
        height: 50vw;
    }
    /* Style INDEX */
    .content {
        flex: 0 0 435px;
    }
    .content-title {
        font-size: 75px;
        line-height: 92px;
    }
}
@media (max-width: 510px){
    /* Style INDEX */
    .content {
        flex: 0 0 405px;
    }
    .main img {
        right: 315px;
        top: 289px;
    }
    .content-title {
        font-size: 70px;
    }
    .promo {
        padding: 72px 15px 6px;
    }
    .promo-left, .promo-right {
        width: 364px;
    }
    .sale {
        font-size: 13px;
    }
    .cost {
        font-size: 52px;
    }
    .promo-description {
        font-size: 14px;
    }
}
@media (max-width: 486px) {
    .menu-other {
        height: 418px;
    }
    .menu-other .menu-grid {
        gap: 17px 5px;
    }
    .menu-other .menu-grid-item {
        flex: 0 0 218px;
    }
    .footer {
        margin-top: 44px;
    }
}
@media (max-width: 430px) {
    .menu-other .menu-grid {
        padding-bottom: 87px;
    }
    .menu-other .menu-grid-item {
        flex: 0 0 177px;
    }
    .promo-left, .promo-right {
        width: 414px;
    }
    .promo {
        padding-left: 0;
    }
    .sale {
        font-size: 14px;
    }
    .cost {
        font-size: 53px;
    }
    .promo-description {
        font-size: 15px;
    }
    .free {
        font-size: 44px;
    }
}
@media (max-width: 400px) {
    .menu-select {
        max-width: 136px;
        height: 41px;
        font-size: 12px;
        padding-left: 15px;
    }
    /* Style INDEX */
    .content-title {
        font-size: 64px;
        line-height: 85px;
        margin-bottom: 13px;
    }
    .content-title span {
        font-size: 16px;
    }
    .content-text {
        font-size: 13px;
    }
    .sale {
        font-size: 13px;
    }
    .cost {
        font-size: 52px;
    }
    .promo-description {
        font-size: 14px;
    }
    .free {
        font-size: 42px;
    }
}
@media (max-width: 360px) {
    .header-logo {
        width: 116px;
        height: 37px;
        background-size: contain;
    }
    .bg {
        margin-bottom: 37px;
    }
    .banner-box {
        margin-bottom: 37px;
    }
    .menu-grid-price {
        margin-bottom: 13px;
    }
    .menu-other {
        margin-top: 43px;
        height: 370px;
    }
    .menu-other .menu-grid-cover, .menu-other .menu-grid-cover img {
        width: 140px;
        height: 169px;
    }
    .menu-other .menu-grid {
        margin-top: 22px;
        height: 354px;
    }
    .menu-other .menu-grid-item {
        flex: 0 0 142px;
    }
    .footer-main2 {
        margin-top: 34px;
    }
    /* Style INDEX */
    .content {
        padding-left: 10px;
    }
    .content-title span {
        font-size: 14px;
    }
    .content-title {
        font-size: 58px;
        line-height: 66px;
        margin-bottom: 25px;
        padding-left: 5px;
    }
    .content-title span {
        margin-bottom: 8px;
    }
    .content-text {
        font-size: 13px;
        line-height: 140%;
        margin-right: 174px;
    }
    .main img {
        width: 273px;
        right: 450px;
        top: 233px;
    }
    .promo {
        margin-top: -28px;
    }
    .promo-left, .promo-right {
        width: 382px;
    }
    .promo-description {
        font-size: 13px;
        max-width: 250px;
    }
    .promo-left .promo-description {
        max-width: 250px;
    }
}
@media (max-width: 320px) {
    .banner-box {
    background-position: 25% center;
    }
    .menu-grid-cover img {
    width: 131px;
    height: 155px;
    }
    /* Style INDEX */
    .content-title {
        font-size: 53px;
        margin-bottom: 17px;
    }
    .content {
        padding-bottom: 63px;
    }
    .promo-description {
        font-size: 12px;
    }
}
